* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body {
  --color1: #FFF ;
  --color2: #181818 ;
}
.home {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #3A61FF;
}





/*---------- Header ----------*/

.header {
  width: 90%;
  margin-top: 25px;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: #3A61FF;
  padding: 12px 20px;
}
.logo { display: flex;}
.logo img {width: 40px;}
.menu {display: flex; flex-direction: row-reverse;}
.menu li {

  padding-left: 55px;

}

.menu li a {
  font-family: 'shabnam';
  font-size: 1.15rem;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
.menu li a::after {
  content: "";
  position: absolute;
  top: 33px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: 0.45s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
  position: absolute;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 44px;
  right: 44px;
}

.fa-times,.fa-bars {
  font-size: 33px;
}
#check {display: none;}
@media(max-width: 610px){
  .menu li {padding-left: 2px;}
  .menu li a {font-size: 0.9rem;}
  .menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 40%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 100;
      backdrop-filter: blur(20.5px);
      background-color: #264eed88; 
      transition: all 0.2s ease-in-out;
  }
  .menu li {margin-top: 7px;
    margin-bottom: 25px;}
  .menu li a {padding: 15px;}
  .open-menu , .close-menu {display: block;}
  #check:checked ~ .menu {right: 0;}
}


/*---------- Header ----------*/










/*---------- home ----------*/


.home-main {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 60px;
    justify-content: center;
}
.home-text {
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 18px;
}
.home-photo {
    width: 45%;
    animation-name: home;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /* margin-right: 4px; */
}


.main-title {
    font-family: 'moraba';
    color: white;
    font-size: 5.5vw;
    line-height: 105px;
    
    align-items: center;
    text-align: right;
    margin-right: 35px;
}

.saye {
    filter: drop-shadow(0px 0px 0px #ffffff);
    animation-name: saye;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.main-dis {
    font-family: 'shabnam';
    font-size: 1.30vw;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: right;
    color: rgb(236, 236, 255);
    margin-top: 35px;
    margin-right: 35px;
}

.home-butten {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-top: 55px;
    margin-right: 35px;
    align-items: center;
    padding-bottom: 150px;
}

.home-butten-sign {
    position: relative;
    display: inline-block;
    width: 44%;
    border-radius: 10px;
    background-color: #070FCA;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.btn-15 {
    background: #070FCA;
    border: none;
    z-index: 1;
  }
  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #2e2e2e;
    border-radius: 10px;
    opacity: 0;
    
    transition: all 0.7s ease;
  }
  .btn-15:hover {
    color: #fff;
  }
  .btn-15:hover:after {
    opacity: 100;
    left: 0;
    width: 100%;
  }
  .btn-15:active {
    top: 2px;
  }

.home-butten-sign-text {
    color: white;
    font-family: 'shabnam';
    font-size: 1.1vw;
    padding: 20px 0px;
}

.home-butten-sign img {
    width: 14%;
}

.home-about {
    color: #c8beff;
    font-family: 'shabnam';
    font-size: 1.1vw;
    margin-right: 45px;
    transition: all .3s ease-in-out;
}

.home-about:hover{
    color: #fff;
    transition: all .3s ease-in-out;
}

.home-photo img {
    width: 97%;
}


/*---------- home ----------*/









/*---------- apps ----------*/


.apps-butten {
  width: 74%;
  display: flex;
  justify-content: space-around;
  position:absolute;
  margin-top: 150px;
}

.apps-butten-top, .apps-butten-bottom {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.apps-butten-des {

  width: 41%;
  border-radius: 45px;
  background-color: white;
  display: flex;
  flex-direction: row;
  filter: drop-shadow(0px 4px 49px rgba(0, 0, 0, 0.15));
}

.apps-butten-text {
  width: 58%;
  display: flex;
  flex-direction: column;
  padding: 21px 2px 21px 24px;
}

.apptitle {
  font-family: 'latobold';
  font-size: 1em;
}
.appdis{
  font-family: 'latoreg';
  font-size: 0.8em;
  margin-top: 2px;
}
.apps-butten-icon {
  width: 42%;
  display: flex;
  align-items: center;
}

.ae {
  width: 85%;
  filter:drop-shadow(1px 9px 5px #5454b5c0);
}

.ps {
  width: 97%;
  filter:drop-shadow(1px 9px 5px #3a3afcc0);
}


.vs {
  width: 62%;
  filter:drop-shadow(1px 9px 5px #3a88fcc0);
}



/*---------- apps ----------*/




.after-effects {
  width: 100%;
  height: 100vh;
  background-color: white ;
}


























/*---------- responsive ----------*/


@media only screen and (max-width: 425px) and (min-width: 375px) 


{



.home-main {
    margin-top: 40px;
    flex-direction: column-reverse;
    align-items: center;
}

.home-photo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 0px;
}

.home-photo img {
    width: 87%;
    margin-left: 5px;
    margin-top: 10px;
}


.home-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10px;
}

.main-title {
    width: 80%;
    font-size: 11.2vw;
    line-height: 70px;
    text-align: center;
    margin-right: 0;
}

.main-dis {
    
    font-size: 3.6vw;
    line-height: 34px;
    text-align: center;
    margin-right: 0;
    margin-top: 14px;
}

.home-butten-sign-text {
    font-size: 3.6vw;
}

.home-about {
    font-size: 3.1vw;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.home-butten {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    align-items: center;
    margin-top: 35px;
}

.home-butten-sign {
    width: 65%;
}



.cursor,
.cursor2,
.cursor3{
	display: none;
}



.apps-butten {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.apps-butten-top, .apps-butten-bottom {
  width: 90%;
  margin-top: 15px;
  justify-content: space-evenly;
}

.apps-butten-des {
  width: 46%;
}
.apptitle {
  font-size: 0.8em;
}
.appdis {
  font-size: 0.7em;
}

.apps-butten-text {
  width: 58%;
  padding: 20px 2px 20px 24px;
}
}










/*---------- cursor ----------*/


.cursor,
.cursor2,
.cursor3{
	position: fixed;
	border-radius: 50%;	
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: 50%;
	mix-blend-mode:overlay;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.cursor{
	background-color: #fff;
	height: 0;
	width: 0;
	z-index: 99999;
}
.cursor2,.cursor3{
	height: 36px;
	width: 36px;
	z-index:99998;
	-webkit-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out
}
.cursor2.hover,
.cursor3.hover{
	-webkit-transform:scale(2) translateX(-25%) translateY(-25%);
	transform:scale(2) translateX(-25%) translateY(-25%);
	border:none
}
.cursor2{
	border: 2px solid #fff;
}
.cursor2.hover{
	background: rgb(0, 0, 0);
	border-color: transparent;
}


/*---------- cursor ----------*/












/*---------- fonts ----------*/


@font-face {
    font-family: 'moraba';
    src: url(../fonts/Morabba-Bold.ttf);
}

@font-face {
    font-family: 'shabnam';
    src: url(../fonts/Shabnam-Medium.ttf);
}

@font-face {
  font-family: 'latobold';
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: 'latoreg';
  src: url(../fonts/Lato-Regular.ttf);
}

/*---------- fonts ----------*/





/*---------- keyframes ----------*/

@keyframes home {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-15px);}
    100% {transform: translateY(0px);}
    
  }

  @keyframes saye {

    0%{ filter: drop-shadow(0px 0px 0px #ffffff75) }
    50%{filter: drop-shadow(5px 8px 3px #0a1e8fc7) }
    100%{filter: drop-shadow(0px 0px 0px #ffffff4d)}
    
  }

/*---------- keyframes ----------*/
